<!DOCTYPE html>
<html>
    <head>
        <meta charset="uf8">
        <title>no tittle</title>
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>
            {{text}}
        </p>

    </body>
    <footer>
        Copyright Isabel Gonçalves - 2018
    </footer>

</html>